<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRConnect"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">
        <activity
            android:name=".ReturnUserStartScreen"
            android:exported="false" />
        <activity
            android:name=".UserStartScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTop"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QRCodeGeneratesPage"></activity>
        <activity android:name=".SelectEventPage"></activity>
        <activity
            android:name=".EventDetailsActivity"
            android:exported="true"></activity>
        <activity
            android:name=".AttendeeListActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".AttendeeNotifications"
            android:exported="true">
        </activity>
        <activity
            android:name=".AttendeeBrowseEvents"
            android:exported="true">
        </activity>
        <activity
            android:name=".AdminQRScan"
            android:exported="true">
        </activity>
        <activity
            android:name=".AdminMenu"
            android:exported="true">
        </activity>
        <activity
            android:name=".AdminBrowseEvents"
            android:exported="true">
        </activity>
        <activity
            android:name=".AdminEventDetails"
            android:exported="true">
        </activity>
        <activity
            android:name=".AdminBrowseImages"
            android:exported="true">
        </activity>
        <activity
            android:name=".AdminBrowseProfiles"
            android:exported="true">
        </activity>
        <activity
            android:name=".SendNotificationsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MapLocations"
            android:exported="true">
        </activity>
        <activity
            android:name=".QRCodeCheckInActivity"
            android:parentActivityName=".QRCodeGeneratesPage"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".UserProfilePage"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>

        <activity
            android:name=".BarcodeScanningActivity"
            android:exported="true" />
        <activity android:name=".PromoDetailsActivity"
            android:exported="true"/>
        <activity
            android:name=".ShareQRCodeActivity"
            android:exported="true"/>

        <activity
            android:name=".EventDetailsInitializeActivity">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.qrconnect.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>